@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-button-click {
        @apply box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
        }

    .shadow-button-active {
        @apply shadow-[inset_0_4px_6px_rgba(0,0,0,0.2)];
        }
    .shadow-button {
        @apply shadow-[inset_0_2px_3px_rgba(0,0,0,0.1)]
    }
}

@layer components {
    .btn-dropdown {
        @apply w-full h-10 p-2 text-white bg-blueTons-light
        
    }
    .btn-dropdown-active {
        @apply bg-blueTons-hover
    }
    .dropdown-menu {
        @apply w-auto mx-[4px] bg-blueTons-Default
    }
    .btn-aside {
        @apply w-full min-h-10 max-h-24 py-2 text-white text-center 
        hover:bg-blueTons-hover
        active:bg-blueTons-click
    }
    .bar-top {
        @apply mt-auto h-8 -mb-2 w-auto px-2 mx-1 rounded-t-md bg-white shadow-grayTons-Default
        hover:shadow-inner hover:bg-slate-100 hover:cursor-pointer transition-all
    }
    .bar-top-d {
        @apply bg-slate-500 shadow-inner 
    }
    .text-top {
        @apply w-auto mx-2 
    }

    .just-center-flex {
        @apply flex-1 flex items-center justify-center
    }
    .input-default {
        @apply w-full border p-2 rounded mb-4 
        focus:outline-none focus:ring focus:ring-slate-50 focus:bg-white
        invalid:outline-none invalid:ring invalid:ring-red-400 invalid:bg-red-50
        
    }
    .no-counter::-webkit-outer-spin-button
    .no-counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .no-counter[type="number"] {
    -moz-appearance: textfield;
    }
}
